@import url(./base.less);

.pointer-black {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0px;
    top: 0px;
}
.pointer-red {
    position: absolute;
    width: 1px;
    height: 1px;
    bottom: 0px;
    left: 0px;
}
.pointer-black.last {
    right: 0px;
    left: 99px;
}
.pointer-red.last {
    right: 0px;
    left: 99px;
}
.pointer-bottom {
    top: 0px;
    bottom: 99px;
}
.pointer-top {
    bottom: 0px;
    top: 99px;
}